
// Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayish: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$lightGray: rgb(243, 243, 243);
$white: hsl(0, 0%, 100%);


$theme-color: #0175C2;


$button-bg-color: $theme-color;
$button-active-bg-color: #90CAF9;

$flat-button-color: #2196F3;
$flat-button-bg-color: #47a7f510;
$flat-button-active-bg-color: #E3F2FD;