$font-size: 16px;
// BODY

$body-bg: rgb(235, 235, 235);

// INPUT
$input-height: 45px;
$text-area-height: 100px;
$input-width: 300px;
$small-input-width: 142px;
$label-text-size: 1rem;
$input-bg-col: #e4e4e4ee;
$input-txt-col: #444444;
$input-lbl-top: 16px;
$input-lbl-lft: 16px;
$input-padding: 16px;
$input-font-size: 14px;


// CORNERS
$corner-rad: 4px;

$smaller-text: 10px;
$small-text: 12px;
$normal-text: 16px;
$medium-text: 18px;
$large-text: 24px;
$larger-text: 32px;
$big-text: 48px;


//dimens
$actionBarHeight: 80px;