#side-bar {
    width: 300px;
    height: 100%;
    position: absolute;
    background: black;
    transition: .2s;

    &.active {
        left: 0px;
    }

    @include device(mobile){
        left: -300px;
    }

    @include device(not-mobile){
        position: fixed;
        left: 0;
    }

    > ul li {
        list-style: none;
        width: 200px;
        padding: 24px;
        margin-bottom: 1px;
    }

    .toggle-btn {
        position: absolute;
        left: 332px;
        top: 48px;
        cursor: pointer;
        
        @include device(not-mobile){
            display: none;
        }
    }
}