// FONTS

@font-face {
    font-family: "metropolis";
    src: url('/fonts/metropolis_black_italic.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "metropolis";
    src: url('/fonts/metropolis_black.otf');
    color: black;
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "metropolis";
    src: url('/fonts/metropolis_bold_italic.otf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "metropolis";
    src: url('/fonts/metropolis_bold.otf');
    color: black;
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "metropolis";
    src: url('/fonts/metropolis_extra_bold_italic.otf');
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: "metropolis";
    src: url('/fonts/metropolis_extra_bold.otf');
    color: black;
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: "metropolis";
    src: url('/fonts/metropolis_extra_light_italic.otf');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: "metropolis";
    src: url('/fonts/metropolis_extra_light.otf');
    color: black;
    font-weight: lighter;
    font-style: normal;
}


@font-face {
    font-family: "metropolis";
    src: url('/fonts/metropolis_light_italic.otf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "metropolis";
    src: url('/fonts/metropolis_light.otf');
    color: black;
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: "metropolis";
    src: url('/fonts/metropolis_medium_italic.otf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "metropolis";
    src: url('/fonts/metropolis_medium.otf');
    color: black;
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: "metropolis";
    src: url('/fonts/metropolis_regular_italic.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "metropolis";
    src: url('/fonts/metropolis_regular.otf');
    color: black;
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "metropolis";
    src: url('/fonts/metropolis_semi_bold_italic.otf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "metropolis";
    src: url('/fonts/metropolis_semi_bold.otf');
    color: black;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "metropolis";
    src: url('/fonts/metropolis_thin_italic.otf');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "metropolis";
    src: url('/fonts/metropolis_thin.otf');
    color: black;
    font-weight: 200;
    font-style: normal;
}


$font-size: 16px;
// BODY

$body-bg: rgb(235, 235, 235);


// INPUT
$input-height: 60px;
$input-width: 300px;
$label-text-size: 1rem;
$input-bg-col: white;
$input-txt-col: black;
$input-lbl-top: 16px;
$input-lbl-lft: 16px;
$input-padding: 16px;
$input-font-size: 14px;

// CORNERS 
$corner-rad: 4px;


// Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayish: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);


// Font Sizes
$font-sma: 0.875rem; // 14px
$font-med: 1.125rem; // 18px


//dimens

$actionBarHeight: 80px;
