@font-face {
  font-family: "metropolis";
  src: url("/fonts/metropolis_black_italic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "metropolis";
  src: url("/fonts/metropolis_black.otf");
  color: black;
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "metropolis";
  src: url("/fonts/metropolis_bold_italic.otf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "metropolis";
  src: url("/fonts/metropolis_bold.otf");
  color: black;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "metropolis";
  src: url("/fonts/metropolis_extra_bold_italic.otf");
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: "metropolis";
  src: url("/fonts/metropolis_extra_bold.otf");
  color: black;
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "metropolis";
  src: url("/fonts/metropolis_extra_light_italic.otf");
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: "metropolis";
  src: url("/fonts/metropolis_extra_light.otf");
  color: black;
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "metropolis";
  src: url("/fonts/metropolis_light_italic.otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "metropolis";
  src: url("/fonts/metropolis_light.otf");
  color: black;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "metropolis";
  src: url("/fonts/metropolis_medium_italic.otf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "metropolis";
  src: url("/fonts/metropolis_medium.otf");
  color: black;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "metropolis";
  src: url("/fonts/metropolis_regular_italic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "metropolis";
  src: url("/fonts/metropolis_regular.otf");
  color: black;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "metropolis";
  src: url("/fonts/metropolis_semi_bold_italic.otf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "metropolis";
  src: url("/fonts/metropolis_semi_bold.otf");
  color: black;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "metropolis";
  src: url("/fonts/metropolis_thin_italic.otf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "metropolis";
  src: url("/fonts/metropolis_thin.otf");
  color: black;
  font-weight: 200;
  font-style: normal;
}

/* Media Queries */
a, a:hover, a:visited {
  text-decoration: none;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 200;
}

.input-container {
  display: inline-block;
  width: 300px;
  height: 60px;
}

.input-field {
  position: absolute;
  display: inline-block;
  background-color: transparent;
  width: 300px;
  height: 60px;
  padding: 16px;
  font-size: 14px;
  border: none;
  outline: none;
}

.input-field:focus {
  outline: none;
}

.input-layout {
  position: relative;
  background-color: white;
  width: 300px;
  height: 60px;
  border-radius: 4px;
  margin-bottom: 1px;
}

.input-layout > label {
  color: black;
  position: absolute;
  font-size: 1rem;
  top: 16px;
  left: 16px;
}

button, .button {
  width: 300px;
  height: 60px;
  border-radius: 4px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  outline: none;
}

button-field:focus, .button-field:focus {
  outline: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header nav {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.header nav a {
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.header__links {
  display: inline-block;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  font-family: metropolis;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.125rem;
  font-weight: 300;
  color: #9698a6;
  line-height: 1.3;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #9698a6;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #2d314d;
}

.hamburger > span:not(:last-child) {
  margin-bottom: 3px;
}

button, .button {
  padding: 1rem 1.875rem;
  border-radius: 50px;
  border: 0;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  cursor: pointer;
  color: white;
  font-weight: 400;
}

@media only screen and (max-width: 667px), only screen and (min-width: 668px) and (max-width: 1024px) {
  .hide-for-mobile {
    display: none;
  }
}

@media only screen and (min-width: 1024px + 1) {
  .hide-for-desktop {
    display: none;
  }
}

#drawer > div#click-catcher {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: .3s;
  transition: .3s;
}

#drawer > div#click-catcher .active {
  background-color: #00000044;
}

#drawer > div#side-bar {
  z-index: 2;
  width: 300px;
  height: 100%;
  top: 80px;
  position: absolute;
  -webkit-transition: .2s;
  transition: .2s;
  left: -300px;
}

@media only screen and (min-width: 668px) {
  #drawer > div#side-bar {
    position: fixed;
    left: 0;
  }
}

#drawer > div#side-bar.active {
  left: 0px;
}

#drawer > div#side-bar > ul li {
  list-style: none;
  width: 200px;
  padding: 24px;
  margin-bottom: 1px;
}

#drawer > div#content {
  position: absolute;
  display: block;
  top: 80px;
  right: 0;
  bottom: 0;
  height: 100%;
  -webkit-transition: .2s;
  transition: .2s;
}

@media only screen and (max-width: 667px) {
  #drawer > div#content {
    left: 0;
  }
}

@media only screen and (min-width: 668px) {
  #drawer > div#content {
    position: fixed;
    left: 302px;
  }
}

#drawer > header {
  position: fixed;
  top: 0;
  height: 80px;
}

#drawer > header nav {
  padding: 24px;
}

#drawer > header nav a.logo {
  margin-top: 8px;
}

#drawer > header nav > div#toggle-btn {
  cursor: pointer;
  display: inline-block;
  margin-right: 32px;
}

@media only screen and (min-width: 668px) {
  #drawer > header nav > div#toggle-btn {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */