@import "../../style/style";

#login-layout {
  position: absolute;
  display: block;
  z-index: 3;
  transition: background-color .2s;

  &.active {
    height: 100%;
    background-color: #424242fe;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  & > p.title {
    font-size: 32px;
    color: black;
  }

  .form {
    top: 200px;
    width: 332px;
    height: 320px;
    margin: 0 auto;
    background-color: white;
    padding: 48px 16px 16px;
    border-radius: 4px;
  }

  .button {
    display: inline-block;
    width: 300px;
    text-align: center;
  }
}

#click-catcher {
  position: absolute;
  display: block;
  z-index: 3;
  transition: background-color .2s;

  &.active {
    height: 100%;
    background-color: #424242aa;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

#dropdown-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;

  position: absolute;
  z-index: 4;
  background-color: white;
  top: -300px;
  left: 0;
  right: 0;
  transition: top 0.2s;

  > li {
    padding: 0;
    > a {
      font-size: 32px;
      width: 400px;
      margin-top: 32px;
    }
  }

  @include device(not-mobile) {
    display: none;
  }

  @include device(mobile) {
    display: block;
    background-color: white;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &.active {
    top: 0;
  }
}

#action-bar {
  height: 112px;
  position: sticky;
  padding: 16px;
  z-index: 2;
  background-color: white;
  border-bottom: 1px solid #9698a644;

  & > img#icon {
    width: 64px;
    height: 64px;

    @include device(mobile) {
      margin-left: 16px;
      display: inline-block;
    }
  }

  & > nav#menu {
    display: inline-block;

    @include device(mobile) {
      display: none;
    }

    & > a {
      font-size: 18px;
    }

    & > a:not(:last-child) {
      margin-right: 16px;
    }
  }

  > #hamburger {
    cursor: pointer;
    display: none;
    margin-right: 32px;

    @include device(mobile) {
      display: inline-block;
    }

    & > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }
}

main {
  position: absolute;
  padding-top: 112px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  overflow-y: auto;
}

.footer {
  height: 50px;
  background-color: #44444411;

  > span {
    display: inline-block;
  }
}